{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="main-wrapper">
        {% include 'header.html' %}
        {% include 'mobile-header.html' %}
        <!-- <div class="slider-area">
            <div class="slider-active-4 owl-carousel nav-style-1 dot-style-1 nav-dot-left">
                <div class="slider-height-9 bg-img" data-dot="01" style="background-image:url(assets/images/slider/hm9-bg-1.jpg);">
                    <div class="container">
                        <div class="row align-items-center flex-row-reverse">
                            <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                                <div class="slider-content-9 slider-animated-1 ml-70">
                                    <img class="animated" src="assets/images/slider/text-slider.png" alt="">
                                    <p class="animated">Купите платья и костюмы по 20% скидке!</p>
                                    <div class="slider-btn-9 btn-hover btn-hover-radious">
                                        <a class="animated" href="product-details.html">Купить <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 col-12 col-sm-6">
                                <div class="slider-sin-img-hm9 slider-animated-1">
                                    <img class="animated" src="assets/images/slider/hm9-single-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-height-9 bg-img" data-dot="01" style="background-image:url(assets/images/slider/hm9-bg-1.jpg);">
                    <div class="container">
                        <div class="row align-items-center flex-row-reverse">
                            <div class="col-lg-5 col-md-6 col-12 col-sm-6">
                                <div class="slider-content-9 slider-animated-1 ml-70">
                                    <img class="animated" src="assets/images/slider/text-slider.png" alt="">
                                    <p class="animated">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <div class="slider-btn-9 btn-hover btn-hover-radious">
                                        <a class="animated" href="product-details.html">SHOP NOW <i class="la la-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-6 col-12 col-sm-6">
                                <div class="slider-sin-img-hm9 slider-animated-1">
                                    <img class="animated" src="assets/images/slider/hm9-single-1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="banner-area banner-slider-active-3 owl-carousel">
            <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg">
                <a href="product-details.html">
                    <img src="assets/images/banner/banner-24.png" alt="banner">
                </a>
                <div class="banner-content-14">
                    <h4>Какой-то текст <br>Сам контент <span>#что-то</span></h4>
                </div>
            </div>
            <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg">
                <a href="product-details.html">
                    <img src="assets/images/banner/banner-25.png" alt="banner">
                </a>
                <div class="banner-content-14">
                    <h4>Какой-то текст <br>Сам контент <span>#что-то</span></h4>
                </div>
            </div>
            <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg">
                <a href="product-details.html">
                    <img src="assets/images/banner/banner-26.png" alt="banner">
                </a>
                <div class="banner-content-14">
                    <h4>Какой-то текст <br>Сам контент <span>#что-то</span></h4>
                </div>
            </div>
            <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg">
                <a href="product-details.html">
                    <img src="assets/images/banner/banner-25.png" alt="banner">
                </a>
                <div class="banner-content-14">
                    <h4>Какой-то текст <br>Сам контент <span>#что-то</span></h4>
                </div>
            </div>
        </div> -->
        <div class="overview-area pt-50 bg-yellow-light-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="deal-img-2 wow fadeInLeft">
                            <img src="{% static 'images/banner.jpg' %}" alt="overview" style="margin-top: 15%">
                            <div class="deal-btn btn-hover btn-hover-radious">
                                <a class="black-color" href="index.html#">Купить <i class="la la-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="deal-content-3">
                            <h2>Главный <br>Продукт дня по выгодной <br>Цене</h2>
                                <div class="timer timer-style-3">
                                    <div data-countdown="2019/08/01"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pt-90 pb-90">
            <div class="container">
                <div class="section-title-2 text-center">
                    <h2>Рекомендуемые продукты</h2>
                    <img src="{% static 'images/icon-img/title-shape.png' %}" alt="icon-img">
                </div>
                <div class="product-slider-active owl-carousel">
                    {% for p in product %}
                    <div class="product-wrap product-border-1 product-img-zoom">
                        <div class="product-img">
                            <a href="product-details.html"><img src="{{ p.img.url }}" alt="product"></a>
                            <div class="product-action-2">

                                <form action="{% url 'cart:cart_add' p.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ cart_product_form }}
                                    <button class="product_button" type="submit"><i class="la la-cart-plus"></i>Добавить в корзину</button>
                                </form>
                            </div>
                        </div>
                        <div class="product-content product-content-padding">
                            <h4><a href="product-details.html">{{ p.name }}</a></h4>
                            <div class="price-addtocart">
                                <div class="product-price">
                                    <span>{{ p.price }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
<!--         <div class="overview-area pt-50 bg-yellow-light-2">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="deal-img-2 wow fadeInLeft">
                            <img src="assets/images/banner/deal-2.png" alt="overview">
                            <div class="deal-btn btn-hover btn-hover-radious">
                                <a class="black-color" href="index.html#">Купить <i class="la la-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="deal-content-3">
                            <h2>Главный <br>Продукт дня по выгодной <br>Цене</h2>
                                <div class="timer timer-style-3">
                                    <div data-countdown="2019/08/01"></div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="product-area pt-90 pb-60">
                <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Магазин</h2>
            {% if selected_category %}
            <li><a class="active" href="/shop/{{ selected_category.slug_category }}">{{ selected_category }}</a></li>
            {% endif %}
          <p>Тут показыны все продукты </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
              {% for c in category %}
                <ul id="portfolio-flters">
                    <a href="/shop/{{ c.slug_category }}"><li>{{ c.name }}</li></a>
                </ul>
              {% endfor %}
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          
        </div>

      </div>

    </section><!-- End Portfolio Section -->

                <div class="tab-content jump">
                    <div id="product-5" class="tab-pane active">
                        <div class="row">
                            {% for p in product %}
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                                <div class="product-wrap product-border-1 product-img-zoom mb-30">
                                    <div class="product-img">
                                        <a href="product-details.html"><img src="{{ p.img.url }}" alt="product"></a>
                                        <div class="product-action-2">
                                            <form action="{% url 'cart:cart_add' p.id %}" method="POST">
                                                {% csrf_token %}
                                                {{ cart_product_form }}
                                                <button class="product_button" type="submit"><i class="la la-cart-plus"></i>Добавить в корзину</button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="product-content product-content-padding">
                                        <h4><a href="product-details.html">{{ p.name }}</a></h4>
                                        <div class="price-addtocart">
                                            <div class="product-price">
                                                <span>{{ p.price }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recent-selling-area pb-60">
            <div class="container">
                <div class="section-title-2 text-center">
                    <h2>Товары по выгодной цене</h2>
                    <img src="{% static 'images/icon-img/title-shape.png' %}" alt="icon-img">
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="banner-wrap mb-30">
                            <a href="product-details.html">
                                <img src="{% static 'images/banner/banner-27.png' %}" alt="banner">
                            </a>
                            <div class="banner-content-15">
                                <h2>Лучшие<br>Продукты <br>недели</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="recent-selling-wrap">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-recent-selling mb-30">
                                        <div class="recent-selling-img">
                                            <a href="product-details.html"> <img src="{% static 'images/product/selling-pro-1.jpg' %}" alt="recent-selling"></a>
                                        </div>
                                        <div class="recent-selling-content">
                                            <h4><a href="product-details.html">Bag Name Here</a></h4>
                                            <div class="price">
                                                <span>2000сом</span>
                                                <span class="old">2000сом</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-recent-selling mb-30">
                                        <div class="recent-selling-img">
                                            <a href="product-details.html"> <img src="{% static 'images/product/selling-pro-2.jpg' %}" alt="recent-selling"></a>
                                        </div>
                                        <div class="recent-selling-content">
                                            <h4><a href="product-details.html">Bag Name Here</a></h4>
                                            <div class="price">
                                                <span>2000сом</span>
                                                <span class="old">2000сом</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-recent-selling mb-30">
                                        <div class="recent-selling-img">
                                            <a href="product-details.html"> <img src="{% static 'images/product/selling-pro-3.jpg' %}" alt="recent-selling"></a>
                                        </div>
                                        <div class="recent-selling-content">
                                            <h4><a href="product-details.html">Bag Name Here</a></h4>
                                            <div class="price">
                                                <span>2300сом</span>
                                                <span class="old">2300сом</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-recent-selling mb-30">
                                        <div class="recent-selling-img">
                                            <a href="product-details.html"> <img src="{% static 'images/product/selling-pro-4.jpg' %}" alt="recent-selling"></a>
                                        </div>
                                        <div class="recent-selling-content">
                                            <h4><a href="product-details.html">Bag Name Here</a></h4>
                                            <div class="price">
                                                <span>2300сом</span>
                                                <span class="old">2300сом</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-recent-selling mb-30">
                                        <div class="recent-selling-img">
                                            <a href="product-details.html"> <img src="{% static 'images/product/selling-pro-5.jpg' %}" alt="recent-selling"></a>
                                        </div>
                                        <div class="recent-selling-content">
                                            <h4><a href="product-details.html">Bag Name Here</a></h4>
                                            <div class="price">
                                                <span>3200сом</span>
                                                <span class="old">3200сом</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="single-recent-selling mb-30">
                                        <div class="recent-selling-img">
                                            <a href="product-details.html"> <img src="{% static 'images/product/selling-pro-1.jpg' %}" alt="recent-selling"></a>
                                        </div>
                                        <div class="recent-selling-content">
                                            <h4><a href="product-details.html">Bag Name Here</a></h4>
                                            <div class="price">
                                                <span>3200сом</span>
                                                <span class="old">3200сом</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {% include 'footer.html' %}

        {% include 'modal_wrapper.html' %}
    
    </div>
{% endblock %}