{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Детальная страница{% endblock %}
{% block content %}
<body>
    <style>
        .slider {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-evenly;
        }
        .draggable {
            width: calc(100% - 120px) !important;
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
        .slick-prev {
            border: none;
            background: #f6424c;
            font-size: 0;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            position: relative;
        }
        .slick-prev::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-60%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 10px 5px 0;
            border-color: transparent #000000 transparent transparent;
        }
        .slick-next {
            border: none;
            background: #f6424c;
            font-size: 0;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            position: relative;
        }
        .slick-next::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-40%, -50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 0 5px 10px;
            border-color: transparent transparent transparent #000000;
        }
        .slick-dots {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .slick-dots > li {
            width: 12px;
            height: 12px;
            margin-right: 5px;
        }
        .slick-dots > li.slick-active > button {
            background: #f6424c;
        }
        .slick-dots > li > button {
            border: none;
            font-size: 0;
            background: #ccc;
            height: 12px;
            border-radius: 100%;
        }
    </style>
    <div class="main-wrapper">
        {% include 'header.html' %}
        {% include 'mobile-header.html' %}
        <div class="breadcrumb-area bg-img" style="background-image:url(https://demo.hasthemes.com/daxone-preview/daxone/assets/images/bg/breadcrumb.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>{{ product.name }}</h2>
                    <ul>
                        <li>
                            <a href="{% url 'main:shop' %}">Главная</a>
                        </li>
                        <li class="active">{{ product.name }} </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-details-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product-details-img-left">
                            <div class="slider">
                                <div class="slider-item">
                                    {% if product.img %}
                                    <img class="zoompro" src="{{ product.img.url }}" data-zoom-image="{{ product.img.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                                <div class="slider-item">
                                    {% if product.img2 %}
                                    <img class="zoompro" src="{{ product.img2.url }}" data-zoom-image="{{ product.img2.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                                <div class="slider-item">
                                     {% if product.img3 %}
                                    <img class="zoompro" src="{{ product.img3.url }}" data-zoom-image="{{ product.img3.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                                <div class="slider-item">
                                     {% if product.img4 %}
                                    <img class="zoompro" src="{{ product.img4.url }}" data-zoom-image="{{ product.img4.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                                <div class="slider-item">
                                     {% if product.img5 %}
                                    <img class="zoompro" src="{{ product.img5.url }}" data-zoom-image="{{ product.img5.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                                <div class="slider-item">
                                     {% if product.img6 %}
                                    <img class="zoompro" src="{{ product.img6.url }}" data-zoom-image="{{ product.img6.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                                <div class="slider-item">
                                     {% if product.img7 %}
                                    <img class="zoompro" src="{{ product.img7.url }}" data-zoom-image="{{ product.img7.url }}" alt="product-details-img">
                                    {% endif %}
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function(){
                                    $('.slider').slick({});
                                });
                            </script>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product-details-content pro-details-content-modify">
                            <span>{{ product.category }}</span>
                            <h2>{{ product.name }}</h2>
                            <div class="pro-details-color-wrap">
                                <span>Цвета:</span>
                                <div class="pro-details-color-content">
                                    <ul>
                                        {% for cols in product.colors.all %}
                                        <li style="background-color:{{cols.color}}"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="pro-details-size">
                                <span>Размер:</span>
                                <div class="pro-details-size-content">
                                    {% for s in product.sizes.all %}
                                    <ul>
                                        <li><a href="product-details.html#">{{ s.name }}</a></li>
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pro-details-price-wrap">
                                <div class="product-price">
                                    <span>{{ product.price }}</span>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="100">
                                </div>
                            </div>
                            <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ cart_product_form }}
                                    <input type="submit" value="Добавить в корзину">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        {% include 'modal_wrapper.html' %}
        <!-- Modal end -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.slider').slick({
            dots: true
        });
    </script>
</body>
{% endblock %}