{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Детальная страница{% endblock %}
{% block content %}
<body>
    <div class="main-wrapper">
        {% include 'header.html' %}
        {% include 'mobile-header.html' %}
        <div class="breadcrumb-area bg-img" style="background-image:url(https://demo.hasthemes.com/daxone-preview/daxone/assets/images/bg/breadcrumb.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>{{ product.name }}</h2>
                    <ul>
                        <li>
                            <a href="{% url 'main:shop' %}">Главная</a>
                        </li>
                        <li class="active">{{ product.name }} </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-details-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="product-details-img-left">
                            <img class="zoompro" src="{{ product.img.url }}" data-zoom-image="assets/images/product-details/product-detalis-bl1.jpg" alt="product-details-img">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="product-details-content pro-details-content-modify">
                            <span>{{ product.category }}</span>
                            <h2>{{ product.name }}</h2>
                            <div class="pro-details-color-wrap">
                                <span>Цвета:</span>
                                <div class="pro-details-color-content">
                                    <ul>
                                        {% for cols in product.colors.all %}
                                        <li style="background-color:{{cols.color}}"></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="pro-details-size">
                                <span>Размер:</span>
                                <div class="pro-details-size-content">
                                    {% for s in product.sizes.all %}
                                    <ul>
                                        <li><a href="product-details.html#">{{ s.name }}</a></li>
                                    </ul>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="pro-details-price-wrap">
                                <div class="product-price">
                                    <span>{{ product.price }}</span>
                                </div>
                            </div>
                            <div class="pro-details-quality">
                                <div class="cart-plus-minus">
                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                </div>
                            </div>
                            <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                <form action="{% url 'cart:cart_add' product.id %}" method="POST">
                                    {% csrf_token %}
                                    {{ cart_product_form }}
                                    <input type="submit" value="Добавить в корзину">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
        {% include 'modal_wrapper.html' %}
        <!-- Modal end -->
    </div>
</body>
{% endblock %}